<section id="about">
  `<div class="container">
    <div class="row">
      <div class="space"></div>
      <div class="col-md-12 text-center">
        <hr>
        <h2 data-aos="fade-up"
     data-aos-duration="3000"> À Propos de nous </h2>
        <div class="space-mid"></div>
        <p data-aos="fade-right"
     data-aos-duration="3000"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quasi sequi a cupiditate officiis nobis repellat deleniti blanditiis, quae cum. Est repudiandae facere quia quam voluptatibus autem incidunt, accusantium quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi doloremque quas fugiat, possimus quia, velit laudantium consectetur magni nihil, asperiores iure iusto, incidunt necessitatibus. Ipsa itaque voluptas aspernatur magnam. </p>
      </div>
      <div class="space"></div>
    </div>
  </div>
</section>
