<section id="contact">
  <div class="space"></div>
  <div class="container contact-form">
    <div class="row" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
      <div class="col-md-8 form">
        <div class="space-mid"></div>
        <h3 class="text-white"> Dites nous bonjour ! </h3>
        <div class="space-mid"></div>
        <form class="row">
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">Nom & Prénom </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Doe" required>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">Adresse email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">Entreprise</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="HTD Company" required>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">Sujet</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Prise de rendez-vous" required>
          </div>
          <div class="form-group col-md-12">
            <label for="exampleFormControlTextarea1">Votre Message </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
            <div class="space-mid"></div>
            <button class="btn"> Envoyer </button>
          </div>
        </form>
      </div>
      <div class="col-md-4 form-info text-center">
        <div class="space-mid"></div>
        <ul class="text-left">
          <h3 class="text-center contact-info-title">
          Informations de contact
        </h3>
        <li><i class="fa fa-home"></i> Rue des Tanneurs, n°25, 4020, Liège</li>
        <li><i class="fa fa-envelope-o"></i> contact@exemple.com</li>
        <li><i class="fa fa-phone-square"></i> 04 88 88 88 88 </li>
        </ul>
        <div class="space-mid"></div>
          <h3>
          Suivez nous
        </h3>
        <p> <a href="#"><i class="fa fa-facebook-square"></i></a>  <a href="#"><i class="fa fa-instagram"></i></a>  <a href="#"><i class="fa fa-twitter"></i></a></p>
      </div>
    </div>
  </div>
  <div class="space"></div>
</section>
