<header id="heroMain" class="viewport-height">
  <div class="container">
    <nav class="navbar  navbar-light bg-light">
      <a class="navbar-brand" href="#">HTD | EVENT </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">À Propos</a>
          <a class="nav-item nav-link" href="#">Services</a>
          <a class="nav-item nav-link" href="#">Témoignages</a>
          <a class="nav-item nav-link" href="#">Références</a>
          <a class="nav-item nav-link" href="#">Contact</a>
        </div>
      </div>
    </nav>
    <div class="space"></div>
    <div class="row d-flex align-items-center" data-aos="fade-up"
     data-aos-duration="3000">
      <div class="space"></div>
      <div class="space"></div>
      <div class="col-md-8 offset-md-2 text-white text-center">
        <h1 class="text-main">
          HTD | Event <br> Vos évènements professionnels et privé entre de bonnes mains
        </h1>
        <p>
        </p>
      </div>
    </div>
  </div>
</header>
