<section id="reference">
  <div class="space"></div>
  <div class="container">
    <hr>
    <h2>Nos Références</h2>
    <div class="space-mid"></div>
    <div class="row">
      <div class="col-md-3" data-aos="fade-left"
     data-aos-duration="3000">
        <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1539809760/High%20TDev/HTD%20%7C%20EVENt/1.png" alt="clients" class="img-fluid">
      </div>
      <div class="col-md-3" data-aos="fade-up"
     data-aos-duration="3000">
        <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1539809753/High%20TDev/HTD%20%7C%20EVENt/8.png" alt="clients" class="img-fluid">
      </div>
      <div class="col-md-3" data-aos="fade-down"
     data-aos-duration="3000">
        <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1539809750/High%20TDev/HTD%20%7C%20EVENt/7.png" alt="clients" class="img-fluid">
      </div>
      <div class="col-md-3" data-aos="fade-right"
     data-aos-duration="3000">
        <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1539809748/High%20TDev/HTD%20%7C%20EVENt/6.png" alt="clients" class="img-fluid">
      </div>
    </div>
    <div class="space"></div>
  </div>
</section>
