<section id="services">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-6 service service1">
        <h4 data-aos="fade-down"
     data-aos-duration="3000"> Évènement d'entreprise </h4>
        <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1539806510/High%20TDev/HTD%20%7C%20EVENt/LogoMakr_1ufzsI.png" alt="company img" class="img-fluid" height="50" width="50" data-aos="fade-down"
     data-aos-duration="3000">
        <div class="space-mid"></div>
        <p data-aos="fade-left"
     data-aos-duration="3000"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iusto nihil, blanditiis ducimus id error asperiores voluptatum, adipisci minus ex eveniet recusandae quis quod ut cum commodi qui modi nobis. </p>
        <a href="#" class="btn btn-outline-light"> En savoir plus </a>
        <div class="space-mid"></div>
      </div>
      <div class="col-md-6 service service2">
        <h4 data-aos="fade-down"
     data-aos-duration="3000"> Évènement Privé </h4>
        <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1539806530/High%20TDev/HTD%20%7C%20EVENt/LogoMakr_7UwqvZ.png" alt="company img" class="img-fluid" height="50" width="50" data-aos="fade-down"
     data-aos-duration="3000">
        <div class="space-mid"></div>
        <p data-aos="fade-right"
     data-aos-duration="3000"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iusto nihil, blanditiis ducimus id error asperiores voluptatum, adipisci minus ex eveniet recusandae quis quod ut cum commodi qui modi nobis. </p>
        <a href="#" class="btn btn-outline-light"> En savoir plus </a>
        <div class="space-mid"></div>
      </div>
    </div>
  </div>
</section>
