<section id="testimonial">
  <div class="space"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 d-flex align-items-center justify-content-center" data-aos="fade-left"
     data-aos-duration="3000">
        <h2> Témoignage </h2>
      </div>
      <div class="col-md-5 bg-light p-5" data-aos="fade-right"
     data-aos-duration="3000">
        <hr align="left">
        <h3> Un évènement au top ! </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus hic molestiae veritatis, quidem eligendi debitis nemo, praesentium tempore dolor et. Vitae explicabo temporibus eum cupiditate animi magni praesentium perspiciatis. </p>
        <small> John Doe, Space Discovery, https://hightdev.com </small>
      </div>
    </div>
  </div>
  <div class="space"></div>
</section>
